/* styles */

/* App */
header {
  width: 100%;
  height: 5rem;
}

.component-body {
  width: 100%;
  height: 41rem;
}

/* Search Courses */
.search-box {
  border: 1px solid #6c757d;
  border-radius: 20px;
  padding: 2%;
  padding-left: 7%;
}

.desc {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
}

/* #clear-select {
  border: #EE6963 solid 1px;
  background-color: #EE6963;
  border-radius: 20px;
  color: white;
} */

/* Global Styling */
.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.work-sans {
  font-family: 'Work Sans', sans-serif;
}

.palanquin {
  font-family: 'Palanquin Dark', sans-serif;
}

.user-button {
  border-radius: 15px;
}
