/* styles */

/* @import url(bootstrap.css); */
@import url(bootstrap-responsive.css);

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.row {
  padding: 15px 0;
}

.container {
  height: 1024px;
  width:100%;
}


footer {
  padding: 20px 0;

.contain {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 5rem;
}

.component-body {
  width: 100%;
  height: 41rem;
}

/* Plan Field Trips */
.plan-trips-body {
  background-color: #EE6963;

}

/* Lesson Details */
.user-1 {
  /* width: 75%; */
  height: 50%;
  background-color: #FFD37B;
  border-radius: 10px;
}

.user-2 {
  /* width: 75%; */
  height: 50%;
  background-color: #EE6963;
  border-radius: 10px;
}

.search-buttons {
  height: 30%;
}
